div.container {
  width:90%;
  margin:0 auto;
}

body {
  font: 10px sans-serif;
}

.quarterly-line-chart {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .y.axis {
    text {
      font-size: 14px;
      font-weight: 300;
      fill: #4a4a4a;
    }
    line {
      stroke: #ccc;
    }
  }

  .x.axis {
    text {
      font-size: 18px;
      font-weight: 300;
      fill: #4A4A4A;
      text-anchor:middle;
      &.highlight {
        //font-weight: bold;
      }
    }
    line {
      stroke: #bbb;
      stroke-dasharray: 2, 5;
    }
    .current {
      line {
        stroke: #ED5626;
        stroke-width: 2.5px;
      }
      text {
        fill: #ED5626;
        &.annotation {
          font-weight:bold;
        }
      }
    }
  }

  .legend {
    line {
      stroke-width: 5;
    }
    text {
      font-size: 14px;
      font-weight: 300;
      fill: #4a4a4a;
    }
  }

  .line {
    fill: none;
    stroke-width: 16px;
  }

  .point {
    stroke: white;
    stroke-width: 3px;
  }

  .label {
    text {
      text-anchor: middle;
      font-size: 14px;
      fill: #4A90E2;
      letter-spacing: 0.03em;
    }
    rect {
      fill: white;
      stroke-width: 0.7;
      stroke: #a4a4a4;
    }
  }
}
